.sessao-informativa {
  &-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #262626;
  }
  &-body {
    width: 80%;
  }
}
