<div class="sitemap-container">
  <div class="sitemap-hero d-none d-lg-flex"></div>

  <div class="sitemap-inner_container">
    <app-breadcrumb></app-breadcrumb>
    <div class="title-container">
      <h1>SITE MAP</h1>
      <div class="title-container-line">
        <div class="title-container-thick-block"></div>
      </div>
    </div>
    <div class="list-container">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/home/quem-somos">Quem Somos</a></li>
        <li><a href="/home/contato">Contato</a></li>
        <li><a href="/cadastro">Cadastro</a></li>
        <li><a href="/home/sitemap">Sitemap</a></li>
        <li>
          <span>Produtos</span>
          <ul>
            <li><a href="/home/produtos/gas">Gás</a></li>
            <li><a href="/home/produtos/energia">Energia</a></li>
            <li><a href="/home/produtos/emissao">Emissão</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
