.center {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.tracejados {
  margin: 8px 15px !important;
}

.row-cadastro {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 38px;
}

.cadastro-carregando {
  width: 100%;
  min-height: 400px;
  height: 80%;
}
