@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('assets/fonts/stylesheet.css');

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'FS Lucas Pro';
}
